/* Master styles */

/* Portfolio styles */

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project-img {
    background-size: cover;
    height: 400px;
    width: 100%;
    color: white;

}

.project-wrapper {
    flex-direction: column;
    padding: 5px;
    border-color: black;
}

.project-label {
    background-color: black;
    font-weight: bold;
    font-size: x-large
}

.project-summary {
    background-color: black;
    text-align: center;
    
}