/* Master styles */

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: white;
    min-width: 400px;
}

a {
    text-decoration: none;
}

/* Navigation styles */

.nav-container {
    background-color: black;
    color: white;
}

.name-wrapper {
    padding: 8px;
    font-size: xx-large;
    font-weight: bold;
}

/* Portfolio styles */

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    color: white;
}

.project-wrapper {
    padding: 5px;
}

.project-title {
    background-color: rgba(0,0,0,0.6);
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: x-large;
}

.project-summary {
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    padding: 8px;
}